<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="SellingDistributionAdapterSoap11">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://test.api.ba.com/sc4/com.ba.newdistcap.SellingDistributionAdapterV01.ap.3"
                binding="customBinding" bindingConfiguration="SellingDistributionAdapterSoap11"
                contract="MySellingService.SellingDistributionAdapterPortType"
                name="SellingDistributionAdapterSoap11" />
        </client>
    </system.serviceModel>
</configuration>