<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="PricedAvailabilityDistributionAdapterSoap11">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpsTransport maxReceivedMessageSize="2147483647" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://test.api.ba.com/selling-distribution/AirShopping/V2"
                binding="customBinding" bindingConfiguration="PricedAvailabilityDistributionAdapterSoap11"
                contract="MySellingService.PricedAvailabilityDistributionAdapterPortType"
                name="PricedAvailabilityDistributionAdapterSoap11"/>
        </client>
    </system.serviceModel>
</configuration>